{% extends "main.html" %}

{% block tabs %}
  {{ super() }}

  <style>

    iframe{
      display: block;
      position: relative;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      border: none;

      z-index: -1;
    }

    header.md-header, nav.md-tabs {
      background-color: rgba(200,200,200,0.07);

      backdrop-filter: blur(5px) !important;

      transition-property: background-color;
      transition-duration: 0.2s;
    }

    header.md-header[data-md-state="shadow"] {
      background-color: var(--md-primary-fg-color);
    }

    div.hero {
      display: block;
      position: absolute;
      inset: 0 0 0 0;

      z-index: -1;
    }

    div.overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 25vh;
      z-index: -1;
      background-color: rgba(46, 48, 62, 85%);
      backdrop-filter: blur(5px);
      box-shadow: 0px 0px 20px 0px #0005;
    }

    .md-content {
      background-color: rgb(46, 48, 62);
      position: relative;
    }
  </style>

  <div class="hero">
    <iframe src="./animation/dots/index.html"></iframe>
  </div>
  <div style="height: 75vh"></div>

{% endblock %}



<!-- Content -->
{% block content %}
  <div class="overlay">
    <div></div>
  </div>
  {{ super() }}
{% endblock %}

<!-- Application footer -->
{% block footer %}
  {{ super() }}
{% endblock %}